<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{site.baseurl}}/">{{ site.title }}</a>

    <nav class="site-nav">
        <a href="{{site.baseurl}}/about/">
          Sobre
        </a>
        <a href="{{site.baseurl}}/#archive">
          Eventos anteriores
        </a>
        <a href="{{site.baseurl}}/submit">
          Quero palestrar no GeekNight!
        </a>
        <!-- <a href="#">
          Contato
        </a>
 -->    </nav>

  </div>

</header>
